@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header{
    background-color: #F7F7F7;
    height: 100vh;
    border-bottom: 0.15em solid #E8E8E8;
    box-shadow: 0 1px 8px #606060;
}

.header nav{
    display: inline-block;
    float: right;
}

.header li a {
    text-decoration: none;
    color: #606060;
    font-family: 'Lato';
    font-size: 3vh;
    font-weight: lighter;
}

.header li{
    float: left;
    padding: 1em 1em;
}

.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*ARTICLE A ACHETER*/
.trait {
    text-align: center;
    position: relative;
}

.trait:before {
    content: "";
    left: 0;
    right: 0;
    height: 0.15em;
    background: #E8E8E8;
    position: absolute;
    top: calc(50% - 0.075em);
    z-index: 0;
}

.trait p {
    display: inline-block;
    padding: 0 3vw;
    background: white;
    position: relative;
    z-index: 1;
}

.article_photo_produit img{
    border-radius: 1vw;

    max-height: 13em;

    animation-duration: 0.75s;
    animation-name: bounceIn;
}

.article_form input[type=submit]{
    border-radius: 50%;
    border: 0.2em solid #606060;
    height: 3.5em;
    width: 3.5em;
    background-repeat: no-repeat;
    background-position: center;

}

.article_form input[type=submit]:hover{
    animation-name: rotateIn;
    animation-duration: 1s;
}


.article_container .left p, .trait p, .article_form p{
    font-family: 'Lato';
    font-size: 1.5em;
    color: #7A7A7A;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

.article_container .left p, .article_form p{
    animation-name: heartBeat;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
}

.article_container .left p strong, .article_form p strong{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 1em;
    color: #606060;
}
.sac{
    height: 8em;
    margin-top: 2.5em;
}
@media screen and (min-width: 1030px) {
    .article_container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .flex-container {
        display: flex;
    }

}

@media screen and (max-width: 1030px) {
    .article_container .left{
        text-align: center;
    }
}


.article_container .left, .article_container .article_form, .article_container .article_photo_produit, .article_container .article_form p{
    margin:0 auto;
}

.article_container .left, .article_container .article_form, .article_container .article_photo_produit{
    margin-bottom: 2.5em;
}

.article_container .article_form{
    text-align: center;
}

.article_form input:last-child{
    margin-top: 5px;
}